<div class="text-center">
<h1 class="text-info">InquiryConfirmation</h1>
    <p> We have received your enquiry. We will contact you shortly.</p>
    <img src="/Images/patio.jpg" width="80%" />
</div>

